* {
  box-sizing: border-box;
}

body {
  background-image: url('./assets/backgroundImage.png');
  background-repeat: repeat;
  background-size: cover;
}

#title {
  color: black;
  position: relative;
  text-align: center;
  bottom: 1rem;
  margin: 0;
  margin-right: 2rem;
}

#subtitle {
  color: black;
  position: relative;
  bottom: 2.5rem;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  margin-left: 3.5rem;
}

.imageTitle {
  position: relative;
  top: 3rem;
  height: 6rem;
  margin-left: 1rem;
}

img {
  height: 2rem;
}

.over-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.rainbow-button {
  position: relative;
  color: white;
  width: calc(5vw);
  height: calc(2vw);
  background-image: linear-gradient(
    90deg,
    #183668 0%,
    #eb1c2d 20%,
    #d3a029 40%,
    #4c9f38 60%,
    #c31f33 80%,
    #183668 100%
  );
  top: 4rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.rainbow-button:hover {
  animation: slidebg 10s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
