* {
  box-sizing: border-box;
}

body {
  padding: 16px;
  background-image: url('./assets/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  color: black;
  position: relative;
  text-align: center;
  bottom: 1rem;
  margin: 0;
  margin-right: 2rem;
}

#subtitle {
  color: black;
  position: relative;
  bottom: 2.5rem;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  margin-left: 3.5rem;
}

.imageTitle {
  position: relative;
  top: 3rem;
  height: 6rem;
  margin-left: 1rem;
}

img {
  height: 2rem;
}

/* .underPuzzleButton {
  display: 'block';
  margin: '16px auto';
  padding: '20px 20px';
  border: 0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}
.underPuzzleButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  background-color: 'black';
  border-color: #ffffff;
}
@media all and (max-width: 30em) {
  .underPuzzleButton {
    display: block;
    margin: 0.4em auto;
  }
} */

.rainbow-button {
  position: relative;
  left: 57rem;
  top: 4rem;
  width: calc(3vw + 6px);
  height: calc(2vw + 6px);
  background-image: linear-gradient(
    90deg,
    #4c9f38 0%,
    #fd9d24 49%,
    #e5243b 80%,
    #4c9f38 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: bold;
}
.rainbow-button:after {
  content: attr(alt);
  width: calc(6vw + 6px);
  height: calc(2vw + 6px);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 10s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
